/*
	grunt.concat_in_order.declare('wpwqbxs_wrapper_bxslider');
	grunt.concat_in_order.require('init');
*/

.wpwq-query-wrapper.bxslider {
  clear: both;
  .bx-viewport {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;

    border: 5px solid transparent;

    box-shadow: none;

      

    ul {

      margin: 0;

      
      li {
        padding: 0 40px 0 50px;
        
        img.wp-post-image,
        img.attachment-thumbnail {
          float: left;          
          margin: 1rem 1rem 1rem 0rem;         
        }
        
        .inner {
          padding-bottom: 10px;
          .bxslider-post-link {

          }

        }
      }
    }

  }
}